@model PitAgora.ViewModels.ChercherCoursViewModel
@{
    Layout = "LayoutPrive";


    ViewBag.Title = "Reservation d'un cours";
}
@section navbar{
    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link " href=@Url.Action("AccueilEleve", "Eleve")>
                Accueil
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=@Url.Action("Deconnexion", "Login")>
                Déconnexion
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href=@Url.Action("ChercherCours", "Eleve")>
                Réserver un cours
            </a>
        <li class="nav-item">
            <a class="nav-link" href=@Url.Action("Contact", "Home")>
                Contact
            </a>
        </li>

    </ul>
}

@section css {
    <link href="~/css/ChercherCours.css" rel="stylesheet" />
}

@section Main{
    <div id="messageChercherCours">@ViewData["messageChercherCours"]</div>
@using (Html.BeginForm())
{

        <fieldset id="fieldset">
            <legend>Formulaire de réservation : </legend>
            <br>
            <table>
                <tr>
                    <td>
                        <table class="table1"> 
                            <tr>
                                <td>
                                    @Html.LabelFor(m => Model.Matiere)
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => Model.Matiere,Html.GetEnumSelectList<PitAgora.Models.MatiereEnum>(), new {required=true, style="width: 280px"})
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    @Html.LabelFor(m => Model.Niveau)
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => Model.Niveau,Html.GetEnumSelectList<PitAgora.Models.NiveauEnum>(), new {required=true, style="width: 280px"})
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => Model.DebutJournee)
                                </td>
                                <td>
                                    <input type="date" name="debutJournee" , required>
                                </td>
                            </tr>
                        </table>

                        <table class="table2">
                            <tr>
                                <td rowspan="2">
                                    <label>Je souhaite un cours </label>
                                </td>
                                <td>
                                    <input type="radio" id="EnPresentiel" name="EstEnPresentiel" value="true">
                                    <label> à domicile</label>
                                </td>
                            </tr>
                            <br>
                            <tr>
                                <td>
                                    <input type="radio" id="EnVisio" name="EstEnPresentiel" value="false">
                                    <label> en visio</label>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                                <input type="submit" value="Valider" style="margin-left: 200px" />
                    </td>
                </tr>
                    <br>    
                <tr>
                    <td>
                        <label style="width: 400px; padding: 15px 0px">Je souhaite un cours en binôme </label>
                        <input type="checkbox" id="boxBinome" class="decochee" onclick="changerStatutBinome()">
                        <br />
                        <div id="ContainerBinome" hidden>
                            <p>Mon binôme :</p>
                            <table class="table1">
                                <tr>
                                    <td>
                                        @Html.LabelFor(m => Model.PrenomBinome)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m =>Model.PrenomBinome)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(m => Model.NomBinome)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m =>Model.NomBinome)
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            
        </fieldset>
       
        <script>
            function changerStatutBinome() {
                console.log("je rentre");
                let test = true;
                console.log(test);
                //console.log("je suis encore là")
                if (document.getElementById("boxBinome").class == "decochee") {
                    document.getElementById("ContainerBinome").hidden = true;
                    document.getElementById("boxBinome").class = "cochee";
                }
               else {
                    document.getElementById("ContainerBinome").hidden = false;
                    document.getElementById("boxBinome").class = "decochee";
                }
                console.log("je sors");
            }
        </script>
    }
}
