@model PitAgora.Models.Reservation
@{
    Layout = "_Layout";

    ViewBag.Title = "Reservation d'un cours";
}




@using (Html.BeginForm())
{

    <fieldset>
        <legend>Formulaire de réservation : </legend>
        @Html.LabelFor(m => Model.Matiere)
        @Html.DropDownListFor(m => Model.Niveau,Html.GetEnumSelectList<PitAgora.Models.MatiereEnum>())
        @Html.ValidationMessageFor(m => Model.Matiere)
        <br />
        <label for="niveau">Niveau :</label>
        @Html.DropDownListFor(m => Model.Niveau,Html.GetEnumSelectList<PitAgora.Models.NiveauEnum>())
        <br />
        @Html.LabelFor(m => Model.Horaire)
        <input type="datetime-local" name="horaire">
        <input type="submit" value="ChercherCours" />
    </fieldset>

}
