@model PitAgora.Models.FormulaireRechercheCours
@{
    Layout = "LayoutPrive";


    ViewBag.Title = "Reservation d'un cours";
}

@section Main{
    <div id="messageChercherCours">@ViewData["messageChercherCours"]</div>
@using (Html.BeginForm())
{

        <fieldset>
            <legend>Formulaire de réservation : </legend>
            @Html.LabelFor(m => Model.Matiere)
            @Html.DropDownListFor(m => Model.Matiere,Html.GetEnumSelectList<PitAgora.Models.Matiere.MatiereEnum>())
            @Html.ValidationMessageFor(m => Model.Matiere)
            <br />
            <label for="niveau">Niveau :</label>
            @Html.DropDownListFor(m => Model.Niveau,Html.GetEnumSelectList<PitAgora.Models.Niveau.NiveauEnum>())
            <br />
            @Html.LabelFor(m => Model.Horaire)
            <br />
            @Html.CheckBoxFor(m=> Model.EstEnPresentiel)
            @Html.LabelFor(m => Model.EstEnPresentiel)
            <br />
            <input type="checkbox" id="EstEnBinome" onclick="afficherContainerBinome()" >
            <label>Binome</label>
            <br />
            <div id="ContainerBinome" hidden>
                @Html.LabelFor(m => Model.PrenomBinome)
                @Html.TextBoxFor(m =>Model.PrenomBinome)
                @Html.LabelFor(m => Model.NomBinome)
                @Html.TextBoxFor(m =>Model.NomBinome)

            </div>

            <input type="datetime-local" name="horaire">
            <input type="submit" value="ChercherCours" />
        </fieldset>
       
        <script>
            function afficherContainerBinome() 
            {
               document.getElementById("ContainerBinome").hidden = false;
            }
        </script>
    }
}
