@model PitAgora.Models.FormulaireRechercheCours
@{
    Layout = "LayoutPrive";


    ViewBag.Title = "Reservation d'un cours";
}
@section navbar{
    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link " href=@Url.Action("AccueilEleve", "Eleve")>
                Accueil
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=@Url.Action("Deconnexion", "Login")>
                Déconnexion
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href=@Url.Action("ChercherCours", "Eleve")>
                Réserver un cours
            </a>
        <li class="nav-item">
            <a class="nav-link" href=@Url.Action("Contact", "Home")>
                Contact
            </a>
        </li>

    </ul>
}

@section Main{
    <div id="messageChercherCours">@ViewData["messageChercherCours"]</div>
@using (Html.BeginForm())
{

        <fieldset>
            <legend>Formulaire de réservation : </legend>
            @Html.LabelFor(m => Model.Matiere)
            @Html.DropDownListFor(m => Model.Matiere,Html.GetEnumSelectList<PitAgora.Models.MatiereEnum>())
            @Html.ValidationMessageFor(m => Model.Matiere)
            <br />
            <label for="niveau">Niveau :</label>
            @Html.DropDownListFor(m => Model.Niveau,Html.GetEnumSelectList<PitAgora.Models.NiveauEnum>())
            <br />
            @Html.LabelFor(m => Model.Horaire)
            <input type="date" name="horaire">
            <br />
            @Html.CheckBoxFor(m=> Model.EstEnPresentiel)
            @Html.LabelFor(m => Model.EstEnPresentiel)
            <br />
            <input type="checkbox" id="EstEnBinome" onclick="afficherContainerBinome()" >
            <label>Binome</label>
            <br />
            <div id="ContainerBinome" hidden>
                @Html.LabelFor(m => Model.PrenomBinome)
                @Html.TextBoxFor(m =>Model.PrenomBinome)
                @Html.LabelFor(m => Model.NomBinome)
                @Html.TextBoxFor(m =>Model.NomBinome)

            </div>

           
            <input type="submit" value="ChercherCours" />
        </fieldset>
       
        <script>
            function afficherContainerBinome() 
            {
               document.getElementById("ContainerBinome").hidden = false;
            }
        </script>
    }
}
