@model PitAgora.Models.Professeur
@{
<<<<<<< HEAD
    Layout = "LayoutPrive";

    ViewBag.Title = "Accueil Prof";
}

@section Main{
    <div>
    Vue Prof :


                    prénom @Model.Utilisateur.Personne.Prenom nom : @Model.Utilisateur.Personne.Nom .
                    J'enseigne @Model.Matiere1 

<li>Salut @Model.Utilisateur.Personne.Prenom</li>
    </div>
}
=======
    Layout = "_Layout";
    ViewBag.Title = "Accueil infos eleve";
}

@section Fieldset{
    Vue Prof :
}
@section Champ1{
                    prénom @Model.Utilisateur.Personne.Prenom nom : @Model.Utilisateur.Personne.Nom .
                    J'enseigne @Model.Matiere1 
}
<li>Salut @Model.Utilisateur.Personne.Prenom</li>
>>>>>>> 40cc4a8292f80e17da7a77b8071c5bed7dffa03a
