@model PitAgora.ViewModels.ParentViewModel
@{
    Layout = "LayoutPrive";

    ViewBag.Title = "Accueil Parent";
}

@section Main{
    <div>
        Vue parent :
        Je m'appelle @Model.Parent.Utilisateur.Personne.Prenom @Model.Parent.Utilisateur.Personne.Nom

        Parent de :

        <table>
            <thead>
                <tr>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Credit Cours</th>
                </tr>
            </thead>
            <tbody>
                <tr>


                    <td>
                        @Model.Eleve.Utilisateur.Personne.Prenom
                    </td>
                    <td> @Model.Eleve.Utilisateur.Personne.Nom </td>
                    <td> @Model.Eleve.CreditCours </td>


                </tr>

            </tbody>
        </table>

        Reservations de @Model.Eleve.Utilisateur.Personne.Prenom :
        <table>
            <thead>
                <tr>
                    <th>Datetime reservation</th>
                    <th>Evaluation</th>
                    <th>Prof</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                                    @foreach(var resa in Model.Reservations)
                    {
                        
                <tr>
                    <td>
                        @resa.Jour
                    </td>
                    <td>
                        @resa.Evaluation

                    </td>
                    <td>
                        @resa.PrenomNomProf

                    </td>
                    <td>
                        @resa.Prix

                    </td>
                </tr>
                    }<
            </tbody>
            <br />
        </table>
    </div>


}