@model PitAgora.ViewModels.UtilisateurViewModel
@{
    Layout = "LayoutGen";
}


}
@section Main{



    <content class="bienvenue position-absolute w-100 top-50 start-50 translate-middle">
        <div class="row justify-content-center">
            <form action="~/Home/Contact" method="post">

                <div class="col row justify-content-center">

                    <div class="col-4 col-md-4 col-lg-4">
                        <p>Formulaire de Contact</p>
                        @Html.LabelFor(m => m.Utilisateur.Personne.Prenom,
                            new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Utilisateur.Personne.Prenom,
                            new { @class = "form-control" })

                        @Html.LabelFor(m => m.Utilisateur.Personne.Nom,
                            new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Utilisateur.Personne.Nom,
                            new { @class = "form-control" })

                        @Html.LabelFor(m => m.Utilisateur.Mail,
                        new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Utilisateur.Mail,
                            new { @class = "form-control" })

                        <label for="inputMessage" class="form-label">Message</label>
                        <textarea type="text"
                                  class="form-control"
                                  id="inputMessage"
                                  placeholder="votre message">
                    </textarea>


                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </div>    
            </form>

        </div>

    </content>
            <!--Script Bootstrap-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous"></script>

    
}

