@model PitAgora.ViewModels.ProfViewModel
@{
    Layout = "LayoutPrive";

    ViewBag.Title = "Accueil Prof";
}

@section css {
    <link href="~/css/Accueils.css" rel="stylesheet" />
}


@section Main{
    <div>

        <h4>Espace prof</h4>
        <br />
        <div>Bonjour @Model.Professeur.Utilisateur.Personne.Prenom @Model.Professeur.Utilisateur.Personne.Nom</div>
        <br>  <br>

        <div class="container -fluid">
            <!-- Cours futurs-->
            <div>
                @if (Model.CoursFuturs.Count > 0)
                {
                    <div style="margin-bottom: 5px">Mes prochains cours :</div>
                    @foreach (var item in @Model.CoursFuturs)
                    {
                        <div class="celluleCours">
                            <table>
                                <tr><td>@item.Jour</td></tr>
                              @*  <tr><td>@item.Matiere avec</td></tr>
                                <tr><td>@item.PrenomNomEleve</td></tr>*@
                            </table>
                        </div>
                    }
                }
                else
                {
                    <div>Pas de cours programmé pour le moment.</div>
                }
            </div>

            <br />
            <br />
            <br />

            <!-- Cours passés-->
            <div>
                @if (Model.CoursPasses.Count > 0)
                {
                    <div style="margin-bottom: 5px">Mes cours récents :</div>
                    @foreach (var item in @Model.CoursPasses)
                    {
                        <div class="celluleCours">
                            <table>
                                <tr><td>@item.Jour</td></tr>
                                @*<tr><td>@item.Matiere avec</td></tr>
                                <tr><td>@item.PrenomNomProf</td></tr>*@
                            </table>
                        </div>
                    }
                }
                else
                {
                    <div>Vous n'avez pas encore donné de cours avec l'un de nos chers élèves !'</div>
                }
            </div>

        </div>


        <div>
            <!-- Crédit cours-->
            Mon crédit cours : @Model.Professeur.CreditProf <span> € </span>
        </div>
        <br />

       @* <div> Gérer mon plannning du : </div>
        @Html.LabelFor(m => Model.Horaire)
        <input type="date" name="horaire">
        <br />

        <input type="submit" value="" />*@




    </div>

        }
