@model PitAgora.Models.Professeur
@{
    Layout = "LayoutPrive";

    ViewBag.Title = "Accueil Prof";
}

@section Main{
    <div style="margin: 215px;padding:40px; place-items:center;">
        <div class="container-fluid" style="background-color: white">

            <div class="container-fluid">
                <div class="row">
                    <h3>Bonjour @Model.Utilisateur.Personne.Prenom @Model.Utilisateur.Personne.Nom</h3>

                    <div class="col-md-3">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                @Html.ActionLink("Mon planning", "AfficherPlanning", "Professeur")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Mes élèves", "Professeur")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Mes ressources", "Professeur")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Mon profil", "Professeur")
                            </li>
                        </ul>
                    </div>

                    <!--CENTRE SCENE-->
                    <div class="col-md-5">
                    </div>

                    <!--CALENDRIER-->
                    <div class="col-md-4">
                        <h3>Mon planning</h3>
                        <div>
                            <div class="calendar" id="calendar">
                            </div>

                            <!--Script Bootstrap/Javascript CALENDER-->
                            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
                            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.businessHours/1.0.1/jquery.businessHours.min.js"></script>
                            <script type="text/javascript" src="./js/calendar.js"></script>
                            <script type="text/javascript">let calendar = new Calendar('calendar');
                                calendar.getElement().addEventListener('change', e => {
                                    console.log(calendar.value().format('LLL'));
                                });</script>`

                        </div>
                    </div>
                </div>


                                @*div>

                                            <li>Bonjour @Model.Utilisateur.Personne.Prenom @Model.Utilisateur.Personne.Nom</li>
                                            <br>  <br>
                                            @Html.ActionLink("Mon planning", "AfficherPlanning", "Professeur")
                                            <br>  <br>
                                            @Html.ActionLink("Mes élèves", "Professeur")
                                            <br>  <br>
                                            @Html.ActionLink("Mes ressources", "Professeur")
                                            <br>  <br>
                                            @Html.ActionLink("Mon Crédit Prof", "Professeur")
                                            <br>  <br>
                                            @Html.ActionLink("Mon profil", "Professeur")
                                            <br>  <br>



                                  </div>*@
                    </div>
                </div>

            <!--Script Bootstrap-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous"></script>



        }
