@model PitAgora.Models.Personne
@{  Layout="_Layout";
    ViewBag.Title="Inscription";}



@using (Html.BeginForm()) {
<fieldset>
    <legend>Formulaire d'inscription : </legend>
    @Html.LabelFor(m => Model.Nom)
    @Html.TextBoxFor(m => Model.Nom)
    @Html.ValidationMessageFor(m => Model.Nom)
    <br />
    @Html.LabelFor(m => Model.Prenom)
    @Html.TextBoxFor(m => Model.Prenom)
    @Html.ValidationMessageFor(m => Model.Prenom)
    <br />
    @Html.LabelFor(m => Model.Prenom)
    @Html.TextBoxFor(m => Model.Prenom)
    @Html.ValidationMessageFor(m => Model.Prenom)
    <br />
    <input type="submit" value="CreerPersonne" />
</fieldset>
}

@section Menu{
    <ul>
        <li class="selectionne">@Html.ActionLink("Accueil", "Index","Home")</li>
        <li>@Html.ActionLink("Modifier une personne", "ModifierPersonne","Personne")</li>
        <li>@Html.ActionLink("Ajouter une personne", "CreerPersonne", "Personne")</li>
    </ul>
}


<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js" > </script >
<script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js" > </script >
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js" > </script >
