<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Pit'Agora</title>
    <link rel="stylesheet" href="/css/Sheet.css">
    @RenderSection("Css", required:false)
    </head>
<body>

    <div class="container">

        <div class="logo">
            <a href="https://localhost:5001"> <img *="./Images/LogoEfecto.png" alt="logo Pit'Agora" style="display: block;" border="0"></a>
        </div>

        <div class="slogan">
            <strong>
                Pit'Agora N°1 du soutien scolaire dans les matieres scientifiques
            </strong>
        </div>

        <div class="navigation">
            <ul class="liste-menu">
                @RenderBody()
            </ul>
        </div>
        <div class="content">
            <ul>
                <fieldset>
                    <legend class="fieldset"><strong>@RenderSection("Fieldset", required:false)</strong></legend>
                    @RenderSection("Champ1", required:false)
                </fieldset>

                @RenderSection("Champ2", required:false)

            </ul>
        </div>


    </div>

    <div class="footer">&copy; @DateTime.Now.Year - Pit'Agora, entreprise créée en 2022</div>

    @RenderSection("Scripts", required:false)

</body>
</html>