<!DOCTYPE html>

<html lang="fr">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIT'AGORA | Prépare ton avenir</title>
    <!-- Icône Pit'Agora -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="~/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="~/images/favicon/ico.ico">
    <!-- Couleur de fond, taille de la tuile -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="~/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/libs/bootstrap-icons/bootstrap-icons.css">
    <link href="~/css/styles.css" rel="stylesheet">
    @RenderSection("css" , required:false)
</head>

<body>

    <!-- DEBUT ENTETE -->
    <header class="encabezado bg-dark vh-100 position-left py-md-4 fondoCover">

        <!-- DEBUT NAVBAR -->
        <nav class="navbar navbar-expand-md navbar-dark  z-index-1">
            <div class="container">

                <a class="navbar-brand" href=@Url.Action("Index", "Home")>
                    <img src="~/Images/LogoPitAgora.svg" alt="Logo del sitio" width="600" height="auto">
                </a>

                <a href="#" class="inicioSesion ms-auto me-2 mt-n1 d-md-none">
                    <i class="bi bi-person-fill text-white display-4"></i>
                </a>

                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#enlacesMenuPrincipal" aria-controls="enlacesMenuPrincipal" aria-expanded="false"
                        aria-label="Conmutar navegación">
                    <i class="bi bi-list display-1"></i>
                </button>

                <div class="collapse navbar-collapse justify-content-md-center" id="enlacesMenuPrincipal">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "Home")>
                                <h4>  Accueil </h4>
                            </a>
                        </li>

                        <li class="nav-item">

                            <a class="nav-link" href=@Url.Action("Connexion", "Login")>
                                <h4> Connexion </h4>
                            </a>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Inscription", "Home")>
                                <h4>  Inscription </h4>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Postuler", "Home")>
                                <h4>  Postuler </h4>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Profs", "Home")>
                                <h4>  Profs </h4>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Contact", "Home")>
                                <h4> Contact </h4>
                            </a>
                        </li>

                    </ul>

                </div>

            </div>
        </nav>
        <!-- FIN NAVBAR -->
        @RenderSection("Main")
    </header>
    <!-- FIN ENTETE -->
    <!-- DEBUT PLAN D'ACTION -->
    <main class="planDeAccion py-5">
        <div class="container">

            <header class="text-center mb-5">
                <h1 class="display-5 fw-bold text-secondary tituloconLineagit">Concept Pit'Agora</h1>

                <p class=" fw-normal my-0 text-muted">
                    Dessinons ensemble ton plan d'action
                </p>

            </header>
            <div class="row row-cols-1 row-cols-md-3  text-center">

                <div class="col mb-3">
                    <article class="planAccionItem border rounded-3 px-4 py-5 h-100">
                        <img src="~/Images/accionBranding.svg" alt="Brading" width="auto" height="70">
                        <h2 class="h3 text-secondary fw-bold my-3">Nos Profs</h2>
                        <p>
                            Recrutés avec soin, nos professeurs sont hautement qualifiés
                            et à ton écoute pour t'aider à progresser
                        </p>
                        <a href="#" class="fw-bold">Infos</a>
                    </article>
                </div>

                <div class="col mb-3">
                    <article class="planAccionItem border rounded-3 px-4 py-5 h-100">
                        <img src="~/Images/accionDisenoUX.svg" alt="Diseño UX" width="auto" height="70">
                        <h2 class="h3 text-secondary fw-bold my-3">Pythos</h2>
                        <p>
                            Pit'Agora récompense ta participation avec des "Pythos" échangeables chez nos partenaires
                        </p>
                        <a href="#" class="fw-bold">Infos</a>
                    </article>
                </div>

                <div class="col mb-3">
                    <article class="planAccionItem border rounded-3 px-4 py-5 h-100">
                        <img src="~/Images/accionExtrategia360.svg" alt="Extratégia 360" width="auto" height="70">
                        <h2 class="h3 text-secondary fw-bold my-3">Binôme</h2>
                        <p>
                            Concept travail en binôme ou
                            l'apprentissage à deux
                            <br>
                            <br>
                            <br>
                        </p>
                        <a href="#" class="fw-bold">Infos</a>

                    </article>
                </div>

            </div>
    </main>
    <!-- FIN PLAN D'ACTION -->
    @RenderSection("Aide", required:false)
    <!-- DEBUT AIDE -->
    <!-- FIN AIDE -->
    @RenderSection("Projets", required: false)
    <!-- DEBUT PROJETS -->
    <!-- FIN PROJETS -->
    @RenderSection("Manolito",required:false)
    <!-- DEBUT -->
    <!-- FIN -->
    @RenderSection("Glossaire",required:false)
    <!-- DEBUT -->
    <!-- FIN -->
    <!-- DEBUT PIED DE PAGE -->
    <footer class="pieDePagina bg-dark text-white pt-5">
        <div class="container">
            <div class="row text-center text-lg-start">

                <div class="col-12 col-sm-6 col-lg-3  mb-5 mb-lg-0">
                    <img src="~/Images/LogoPitAgoraFOOTER.svg" width="200" height="auto" alt="Logo
                del sitio">
                    <ul class="list-unstyled my-4 fw-bold d-grid gap-2">
                        <li><a href="tel:(+33) 783464092">(+33) 7 83 46 40 92</a></li>
                        <li><a href="mailto:info@pitagora.fr">info@pitagora.fr</a></li>
                    </ul>


                </div>
                <div class="col-12 col-sm-6 col-lg-2  mb-5 mb-lg-0 ms-lg-auto">
                    <h5 class=" fw-bold mb-4">Partenaires</h5>
                    <ul class="list-unstyled d-grid gap-2">
                        <li><a href="#">Micromania</a></li>
                        <li><a href="#">FNAC</a></li>
                        <li><a href="#">.....</a></li>
                        <li><a href="#">.......</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-2  mb-5 mb-lg-0">
                    <h5 class=" fw-bold mb-4">A propos</h5>
                    <ul class="list-unstyled d-grid gap-2">
                        <li><a href="#">Qui</a></li>
                        <li><a href="#">Pourquoi</a></li>
                        <li><a href="#">Comment</a></li>

                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-2 mb-5 mb-lg-0">
                    <h5 class=" fw-bold mb-4">Contact</h5>
                    <ul class="list-unstyled d-grid gap-2">
                        <li><a href="#">Pédagogie</a></li>
                        <li><a href="#">Agora</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
            </div>

            <p class="creditos mt-lg-4 mb-0 py-4 text-center text-muted small">
                Copyright © 2022 Pit'Agora.fr Tous droits réservés.
            </p>


        </div>
    </footer>
    <!-- FIN PIED DE PAGE -->
    @RenderSection("Scripts", required:false)
</body>

</html>