@model PitAgora.ViewModels.UtilisateurViewModel
@{
    Layout = "LayoutGen";
    ViewBag.Title = "Accueil Pit'Agora";
}
@section css {
    <link href="~/css/stylesMain.css" rel="stylesheet" />
}
@section Main{
    <div id="fond">
        @if (Model.Authentifie)
        {
            <h3>
                Vous êtes déjà authentifié avec le login : @Model.Utilisateur.Mail
            </h3>

            @Html.ActionLink("Deconnexion", "Deconnexion")
            @Html.ActionLink("Accueil", "AccueilGeneral", "Home")

        }

        else
        {

            using (@Html.BeginForm())
            {
    <div id="fond">
       
        <h3>  Veuillez vous authentifier :</h3>
        
        <div>
            @Html.LabelFor(m => m.Utilisateur.Mail)
            @Html.TextBoxFor(m => m.Utilisateur.Mail)
            @Html.ValidationMessageFor(m => m.Utilisateur.Mail)
        </div>
        <div>
            @Html.LabelFor(m => m.Utilisateur.MotDePasse)
            @Html.PasswordFor(m => m.Utilisateur.MotDePasse)
            @Html.ValidationMessageFor(m => m.Utilisateur.MotDePasse)
        </div>

        <input type="submit" value="Se connecter" class="myButton" />
       
        //, A VOIR... 
        @Html.ActionLink("S'inscrire", "Inscription", "Home")
    </div>
            }
        }
    </div>
}
