@model PitAgora.ViewModels.UtilisateurViewModel
@{
    Layout = "LayoutGen";
    ViewBag.Title = "Accueil Pit'Agora";
}

@section Main{
    @if (Model.Authentifie)
    {
        <h3>
            Vous êtes déjà authentifié avec le login :
            @Model.Utilisateur.Mail
        </h3>
        @Html.ActionLink("Deconnexion", "Deconnexion")
        <p> @Html.ActionLink("Accueil","AccueilGeneral","Home") </p>
    }
    else
    {
        <p>
            Veuillez vous authentifier :
        </p>
        using (@Html.BeginForm())
        {
            <div>
                @Html.LabelFor(m => m.Utilisateur.Mail)
                <span style="float:right">@Html.TextBoxFor(m => m.Utilisateur.Mail)</span>
                @Html.ValidationMessageFor(m => m.Utilisateur.Mail)
            </div>
            <div>
                @Html.LabelFor(m => m.Utilisateur.MotDePasse)
                <span style="float:right">
                    @Html.PasswordFor(m => m.Utilisateur.MotDePasse)
                </span>
                @Html.ValidationMessageFor(m => m.Utilisateur.MotDePasse)
            </div>
            <ul style="list-style-type:none">
                <li>
                    <input type="submit" value="Se connecter" class="myButton" />
                </li>


                <li>
                   @Html.ActionLink("S'inscrire", "Inscription","Home")
                </li>
            </ul>
        }

    }
}
